.appContainer {
  width: 320px;
  border-radius: 0.75rem;
  background-color: rgba(17, 24, 39, 1);
  padding: 3rem;
  color: rgba(243, 244, 246, 1);
}

.title {
  text-align: center;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 700;
}
